.my_btn {
  color: #151515;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: blue;
    border-color: blue;
  }

  &:active {
    background-color: #f7f9fd;
  }

  &:focus {
    //outline: 1px solid blue;
  }
}
