@import '../_theme/variable.less';

@prefix: prefix('checkbox');
@boxClass: ~'@{prefix}-box';
@checkedClass: ~'@{prefix}-checked';
@indeterminateClass: ~'@{prefix}-indeterminate';
@disabledClass: ~'@{prefix}-disabled';

@{prefix} {
  gap: 8px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  font-size: @fontSize;

  &-label {
    transition: color @fasterDuration;
  }

  .setBox (@code) {
    & @{boxClass} {
      @code();
    }
  }

  // checkbox
  .setBox({
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: @borderRadius;
    border: 1px solid @borderColor;
    transition: all @duration;

    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      transition: background-color @duration;
      transform: rotate(45deg) scale(0) translate(-50%, -50%);
      top: 47%;
      left: 21.5%;
      width: 6px;
      height: 10px;
      border: 2px solid white;
      border-top: none;
      border-left: none;
    }
  });

  // :hover
  &:hover:not(@{disabledClass}) {
    &@{indeterminateClass},
    &:not(@{checkedClass}) {
      .setBox({
        border: 1px solid @primary;
      });
    }
  }

  // checked
  &@{checkedClass}:not(@{indeterminateClass}) {
    .setBox({
      background-color: @primary;
      border: 1px solid @primary;
      &::after {
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    });
  }

  // indeterminate
  &@{indeterminateClass} {
    .setBox({
      &::after {
        width: 8px;
        height: 8px;
        top: 50%;
        left: 50%;
        position: absolute;
        background: @primary;
        content: ' ';
        border: none;
        transform: scale(1) translate(-50%, -50%);
        transition: background-color @duration;
      }
    });
  }

  // disabled
  &@{disabledClass} {
    cursor: not-allowed;
    color: @colorDisabled;

    .setBox({
      background: @colorBgDisabled;
      transition: all @fasterDuration;
    });

    &@{checkedClass} {
      .setBox({
        background-color: @colorBgDisabled;
        border-color: @colorDisabled;

        &::after {
          border-color: @colorDisabled;
        }
      });
    }

    // 半选中
    &@{indeterminateClass} {
      .setBox({
        &::after {
          width: 8px;
          height: 8px;
          top: 50%;
          left: 50%;
          position: absolute;
          background: @colorDisabled;
          content: ' ';
          border: none;
          transform: scale(1) translate(-50%, -50%);
          transition: background-color @fasterDuration;
        }
      });
    }
  }
}
