@import '../_theme/variable.less';

@prefix: prefix('popover');

@{prefix} {
  box-shadow: @shadow3;
  background: white;
  position: absolute;
  padding: 16px;
  border-radius: @borderRadius;

  &-title {
    font-weight: bolder;
  }
}
