@import '../_style/theme';

.space {
  display: inline-flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-block {
    display: flex;
  }

  &-vertical {
    flex-direction: column;
  }

  &-horizontal {
    align-items: center;
  }
}
