@import 'blue';
@import 'gray';
@import 'red';
@import 'gold';
@import 'green';

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.setLoading (@_color, @_cursor) {
  & .icon-wrapper.icon-wrapper.icon-wrapper.icon-wrapper a {
    color: @_color;
    cursor: @_cursor;
  }
}

@color: @gray-12;
@borderColor: @gray-5;
@placeholderColor: @gray-5;

@primary: @blue-6;
@primaryHover: @blue-4;
@primaryActive: @blue-8;
@selectPrimary: @blue-2;
@selectPrimaryHover: @blue-1;

@disabled: @gray-6;
@disabledBg: @gray-2;

@textHover: @gray-6;
@textActive: @gray-10;

@danger: @red-5;
@dangerHover: @red-3;
@dangerActive: @red-6;
@dangerDisabled: @red-3;

@successBorderColor: @green-4;
@successColor: @green-5;
@successBg: @green-1;
@errorBorderColor: @red-4;
@errorColor: @red-5;
@errorBg: @red-1;
@warnBorderColor: @gold-4;
@warnColor: @gold-5;
@warnBg: @gold-1;
@infoBorderColor: @blue-4;
@infoColor: @blue-5;
@infoBg: @blue-1;

@maskBg: rgba(0, 0, 0, 0.5);

@borderRadius: 2px;

@padding: 8px 14px;
@paddingLarge: 12px 16px;
@paddingSmall: 4px 8px;

@inputPadding: 8px 12px;
@inputPaddingLarge: 12px 12px;
@inputPaddingSmall: 4px 12px;

@fontSize: 14px;
@fontSizeLarge: 16px;

@duration: 0.2s;

// latest to ground
@boxShadow-1: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
  0px 5px 12px 4px rgba(0, 0, 0, 0.16);

// relative to object
@boxShadow-2: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
  0px 9px 28px 8px rgba(0, 0, 0, 0.05);

// the highest, no relation.
@boxShadow-3: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px 0px rgba(0, 0, 0, 0.05),
  0px 14px 48px 16px rgba(0, 0, 0, 0.03);

@dialogZIndex: 1000;
@messageZIndex: 1100;

// ========================== reset stylesheet =======================

a {
  color: @primary;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;

  // 提高优先级
  &:active:active:active {
    color: @primaryActive;
  }

  &:hover:hover {
    color: @primaryHover;
  }
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  color: @color;
  font-size: @fontSize;
}
