@import 'blue';
@import 'gray';
@import 'red';

@color: @gray-12;
@borderColor: @gray-5;

@primary: @blue-6;
@primaryHover: @blue-4;
@primaryActive: @blue-8;

@disabled: @gray-6;
@disabledBg: @gray-2;

@textHover: @gray-6;
@textActive: @gray-10;

@danger: @red-5;
@dangerHover: @red-3;
@dangerActive: @red-6;
@dangerDisabled: @red-3;

@padding: 8px 14px;
@paddingLarge: 12px 16px;
@paddingSmall: 4px 8px;

@inputPadding: 8px 12px;
@inputPaddingLarge: 12px 12px;
@inputPaddingSmall: 4px 12px;

@fontSize: 14px;
@fontSizeLarge: 16px;

@duration: 0.2s;

@messageZIndex: 999;

// ========================== 重置样式表 =======================
button,
input {
  color: @color;
  font-size: @fontSize;
}

a {
  color: @primary;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;

  // 提高优先级
  &:active:active:active {
    color: @primaryActive;
  }

  &:hover:hover {
    color: @primaryHover;
  }
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
