@import '../_theme/variable.less';

@prefix: prefix('alert');
@borderedClass: ~'@{prefix}-bordered';

@{prefix} {
  color: @color;
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  line-height: 20px;

  &-flex-start {
    align-items: flex-start;
  }

  &-info {
    .type(@infoBg, @infoBorderColor, @infoColor);
  }

  &-success {
    .type(@successBg, @successBorderColor, @successColor);
  }

  &-warning {
    .type(@warnBg, @warnBorderColor, @warnColor);
  }

  &-error {
    .type(@errorBg, @errorBorderColor, @errorColor);
  }

  &-body {
    flex: 1;
    overflow: hidden;
  }

  &-message {
    font-size: 1.125em;
  }

  &-description {
    padding-top: 12px;
    word-break: break-word;
  }

  &-close {
    color: @closeColor;
    cursor: pointer;
    font-size: 12px;
  }
}

.type (@bg, @borderColor, @color) {
  background: @bg;
  border: 1px solid @borderColor;
  border-radius: @borderRadius;

  &-icon {
    font-size: 20px;
    color: @color;
  }
}
