@import '../_theme/variable.less';

@prefix: prefix('tooltip-panel');
@prefixNoDot: prefixNoDot('tooltip-panel');
@appearKeyframes: ~'@{prefixNoDot}-appear';
@disappearKeyframes: ~'@{prefixNoDot}-disappear';

@startTransform: translate(-50%, -90%) scale(0.9);
@endTransform: translate(-50%, -100%) scale(1);

@keyframes @appearKeyframes {
  from {
    opacity: 0;
    transform: @startTransform;
  }
}

@keyframes @disappearKeyframes {
  from {
    opacity: 1;
    transform: @endTransform;
  }
}

@{prefix} {
  @panelBg: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: @borderRadius;
  font-size: @fontSize;
  position: fixed;
  background: @panelBg;
  padding: 10px 8px;
  box-shadow: @shadow2;

  &-appear {
    opacity: 1;
    transform: @endTransform;
    animation: @appearKeyframes @duration ease-out;
  }

  &-disappear {
    opacity: 0;
    transform: @startTransform;
    animation: @disappearKeyframes @duration ease-out;
  }

  &-triangle {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: @panelBg;
    }
  }
}
