/**
 * theme variable
 *
 * @author tangjiahui
 * @date 2024/4/12
 */
@import "./default.less";

// primary
@primary: useVar('primary');
@primaryHover: useVar('primaryHover');
@primaryActive: useVar('primaryActive');
@primaryDisabled: useVar('primaryDisabled');
@backgroundColor: useVar('backgroundColor');
@danger: useVar('danger');
@dangerHover: useVar('dangerHover');
@dangerActive: useVar('dangerActive');
@dangerDisabled: useVar('dangerDisabled');

// text
@color: useVar('color');
@colorDisabled: useVar('colorDisabled');
@colorHover: useVar('colorHover');
@colorActive: useVar('colorActive');
@colorLight: useVar('colorLight');
@fontSize: useVar('fontSize');

// border
@borderColor: useVar('borderColor');
@borderColorDisabled: useVar('borderColorDisabled');
@borderLightColor: useVar('borderLightColor');
@borderRadius: useVar('borderRadius');

// shadow
@shadow1: useVar('shadow1');
@shadow2: useVar('shadow2');
@shadow3: useVar('shadow3');
@maskBg: useVar('maskBg');

// animation
@duration: useVar('duration');

// component
@infoBorderColor: useVar('infoBorderColor');
@infoColor: useVar('infoColor');
@infoBg: useVar('infoBg');
@successBorderColor: useVar('successBorderColor');
@successColor: useVar('successColor');
@successBg: useVar('successBg');
@errorBorderColor: useVar('errorBorderColor');
@errorColor: useVar('errorColor');
@errorBg: useVar('errorBg');
@warnBorderColor: useVar('warnBorderColor');
@warnColor: useVar('warnColor');
@warnBg: useVar('warnBg');
@placeholderColor: useVar('placeholderColor');
