@import '../_style/theme';

.select {
  font-size: @fontSize;
  border: 1px solid @borderColor;
  display: inline-block;
  padding: @padding;
  cursor: pointer;
  transition: all @duration;
  user-select: none;

  &:focus {
    border-color: @primary;
    outline: none;
  }

  &:hover {
    border-color: @primaryHover;
  }

  &-popup {
    margin-top: 2px;
  }

  &-option {
    padding: @padding;
    cursor: pointer;
    transition: all @duration;
    margin: 4px;
    border-radius: @borderRadius;

    &-choose {
      background-color: @selectPrimary;

      &:hover {
        background-color: @selectPrimaryHover !important;
      }
    }

    &:hover {
      color: @color;
      background-color: whitesmoke;
    }
  }

  &-placeholder {
    color: @placeholderColor;
  }
}
